@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Bienvenido a nuestra pagina web</h1>
    <form method="get" action="@ViewBag.IngresarRegister">
    <button type="submit">REGISTRARSE</button>
</form>
</div>
